---
import BaseLayout from '../layouts/BaseLayout.astro';

import ContactCTA from '../components/ContactCTA.astro';
import Hero from '../components/Hero.astro';
---

<BaseLayout title="About | Cindy Ngo" description="About Cindy Ngo">
	<div class="stack gap-20">
		<main class="wrapper about">
			<div>
				<img
				width="500"
				height="500"
				src="/assets/profile_1.png"
				alt="Cindy staring up at the sky"
			/>
			</div>
			<div>
				<Hero
					title="About Me"
					tagline=" . ݁₊ ⊹ .Designing to celebrate our identity. ݁₊ ⊹ ."
					align="start"
				>
				<section>
					<div class="content">
						<p>
							I have a passion for digital art and illustrations. Coupled 
							with my love for computers, I aspire to create digital media and applications that 
							inspire both interaction and emotion.
						</p>
						<br/>
						<p>
							I believe that the digital world plays a key role in our lives. From daily software 
							applications to the webpages we know and love, I want to create safe spaces and relatable 
							designs that enrich the lives of many.
						</p>
						<br/>
						<p>
							My new design philosophy from here on out is to create designs and websites that celebrate our identities. Whether you're 
							an individual or business, I want to capture your character and story in my work.
						</p>
					</div>
				</section>
				</Hero>
			</div>
			<section>
				<h2 class="section-title">Education</h2>
				<div class="content">
					<h5>University of Florida 2023</h5>
					<p>Bachelor of Science in Digital Arts and Computer Sciences</p>
				</div>
			</section>
			<section>
				<h2 class="section-title">Experiences</h2>
				<div class="content">
					<h5>Starburst (June 2023 - Present)</h5>
					<span class="role">Web Developer and Designer</span>
					<ul>
						<li>Maintaining a diverse portfolio of Starburst's websites using various technologies such as WordPress/PHP, Jekyll, and Sphinx</li>
						<li>Maintaining Starburst's Figma web design system</li>
						<li>Prototyping and implementing various web pages in response to team requests</li>
						<li>Enhancing and automating the Puppeteer search scraper for Algolia Search, resulting in 50% improvement in runtime</li>
						<li>Designing WordPress experiences that streamline workflows for the Content Team and allow for easier content management</li>
					</ul>
					<br/>
					<h5>Girls Who Code (June 2023 - Present)</h5>
					<span class="role">Discord Moderator (Seasonal)</span>
					<ul>
						<li>Worked alongside GWC in facilitating their summer/fall educational programs by creating a digital safe space in Discord</li>
						<li>Provided weekly suggestions based on analyzing server trends to enhance student's experience and increase community engagement</li>
						<li>General responsibilities include chat moderation, assigning roles, scheduling announcements, and providing guidance to students</li>
					</ul>
					<br/>
					<h5>University of Florida (August 2022 - April 2023)</h5>
					<span class="role">Teaching Assistant</span>
					<ul>
						<li>Curated and led hour-long discussions of core software engineering process concepts for 20+ students</li>
						<li>Coordinated course content with staff and discussed areas for improvement on a weekly basis</li>
						<li>Hosted weekly office hours to help students understand course material and debug projects</li>
					</ul>
					<br/>
					<h5>The Agency at UF (January 2022 - April 2023)</h5>
					<span class="role">Full Stack Developer/UX Designer</span>
					<ul>
						<li>Developed Figma wireframes for 10+ case studies to increase client engagement with Agency services</li>
						<li>Crafted 3 variations of website prototypes and presented to internal stakeholders for approval</li>
						<li>Built and developed the Agency website leading to an increase in traffic using Wix</li>
					</ul>
					<br/>
					<h5>Starburst (June 2022 - August 2022)</h5>
					<span class="role">Web Development and Design Intern</span>
					<ul>
						<li>Reconstructed the user experience of the entire company's documentation through HTML/CSS/JavaScript/Bootstrap/Shopify Liquid over the course of 13 weeks across all devices</li>
						<li>Developed 20+ icons based on company branding using architectural diagram specifications in Figma</li>
						<li>Communicated daily between UX designers and Information Engineers about new frontend features and their feasibility</li>
					</ul>
				</div>
			</section>
		</main>

		<ContactCTA />
	</div>
</BaseLayout>

<style>
	.about {
		display: flex;
		flex-direction: column;
		gap: 4rem 2rem;
	}

	img {
		aspect-ratio: 4 / 4;
        border-radius: 100%;
		margin-top: 1.5rem;
		box-shadow: var(--shadow-md);
	}

	section {
		display: flex;
		flex-direction: column;
		gap: 0.5rem;
		color: var(--gray-200);
	}

	.section-title {
		grid-column-start: 1;
		font-size: var(--text-xl);
		color: var(--gray-0);
	}

	ul {
    list-style: disc;
    margin: 1rem;
    padding: 0;
	}

	.role {
            font-style: italic;
        }

	.content {
		grid-column: 2 / 4;
	}

	.content :global(a) {
		text-decoration: 1px solid underline transparent;
		text-underline-offset: 0.25em;
		transition: text-decoration-color var(--theme-transition);
	}

	.content :global(a:hover),
	.content :global(a:focus) {
		text-decoration-color: currentColor;
	}

	@media (min-width: 50em) {
		.about {
			display: grid;
			grid-template-columns: 4fr 6fr;
		}

		section {
			display: contents;
			font-size: var(--text-lg);
		}
	}
</style>
