---
import { getCollection } from 'astro:content';

// Layout import — provides basic page elements: <head>, <nav>, <footer> etc.
import BaseLayout from '../layouts/BaseLayout.astro';

// Component Imports
import CallToAction from '../components/CallToAction.astro';
import Grid from '../components/Grid.astro';
import Hero from '../components/Hero.astro';
import Icon from '../components/Icon.astro';
import Pill from '../components/Pill.astro';
import PortfolioPreview from '../components/PortfolioPreview.astro';

// Page section components
import ContactCTA from '../components/ContactCTA.astro';
import Skills from '../components/Skills.astro';

// Content Fetching: List four most recent work projects
const projects = (await getCollection('work'))
	.sort((a, b) => b.data.publishDate.valueOf() - a.data.publishDate.valueOf())
	.slice(0, 4);

// Full Astro Component Syntax:
// https://docs.astro.build/basics/astro-components/
---

<BaseLayout>
	<div class="stack gap-20 lg:gap-48">
		<div class="wrapper stack gap-8 lg:gap-20">

		</div>
	</div>
	<div class="stack gap-20 lg:gap-48">
		<div class="wrapper stack gap-4 lg:gap-20">
			<header class="hero">
				<Hero
					title="Hello!"
					tagline="I'm Cindy! I'm an Asian-American artist, designer, and developer! My goal is to create inclusive designs that celebrate our different identities. I aspire to create digital media and applications that inspire both interaction and emotion. By day, I'm a web developer. By night, I'm an avid creator."
					align="start"
					page="index"
				>
					<div class="roles">
						<Pill><Icon icon="code" size="1.33em" />Developer</Pill>
						<Pill><Icon icon="paint-brush" size="1.33em" /> Artist</Pill>
					</div>
				</Hero>

				<div class="inline-block bg-white shadow-md max-w-md p-8 rounded-2xl place-self-center text-black">
					<img
					alt=""
					src="/assets/profile_4.png"
				/>
					<h5 class="text-black pt-4">Cindy Ngo</h5>
					<h6 class="text-[#8490b5] pb-4">She/Hers</h6>
					<div class="stack gap-1">
						<p class="flex gap-2"><Icon icon="map-pin" color="var(--accent-warm)" size="1.5rem" gradient /> Florida</p>
						<p class="flex gap-2"><Icon icon="instagram-logo" color="var(--accent-warm)" size="1.5rem" gradient /> @cinnamics</p>
					</div>
				</div>

			</header>

			<Skills />
			<div class="grid grid-cols-1 gap-2 sm:grid-cols-1 md:grid-cols-2 p-[2.5rem]">
				<section class="flex flex-col gap-2 mb-8">
					<h4 class="section-title">EXPERIENCES</h4>
					<div class="flex flex-col gap-8">
						<div>
							<p class="mb-1">June 2023 - Present</p>
							<p class="font-bold">Web Developer and Designer</p>
							<span class="role">Starburst</span>
						</div>
						<div>
							<p class="font-bold">Discord Moderator (Summer/Fall)</p>
							<span class="role">Girls Who Code</span>
						</div>
						<div>
							<p class="mb-1">August 2022 - April 2023</p>
							<p class="font-bold">Teaching Assistant</p>
							<span class="role">University of Florida</span>
						</div>
						<div>
							<p class="mb-1">January 2022 - April 2023</p>
							<p class="font-bold">Full Stack Developer/UX Designer</p>
							<span class="role">The Agency a UF</span>
						</div>
						<div>
							<p class="mb-1">June 2022 - August 2022</p>
							<p class="font-bold">Web Development and Design Intern</p>
							<span class="role">Starburst</span>
						</div>
					</div>
				</section>
				<section class="flex flex-col gap-16">
					<div>
						<h4 class="section-title">EDUCATION</h4>
						<div class="flex flex-col gap-2">
							<div>
								<p class="mb-1">2023</p>
								<p class="font-bold">University of Florida</p>
								<p class="role">Bachelor of Science in Digital Arts and Computer Sciences</p>
							</div>
						</div>
					</div>
					<!-- <div>
						<h4 class="section-title">EXPERTISE</h4>
						<div class="flex flex-col gap-2">

						</div>
					</div> -->
					<div>
						<h4 class="section-title">Contact</h4>
						<div class="flex flex-col gap-2">
							<div>
								<p class="my-1 gap-2 flex"><Icon icon="email" color="var(--accent-warm)" size="1.5rem" gradient /> ngo-cindy@outlook.com</p>
								<a href="https://github.com/cindyngo44" target="blank" class="my-1 gap-2 flex"><Icon icon="github-logo" color="var(--accent-warm)" size="1.5rem" gradient /> cindyngo44</a>
								<a href="https://www.linkedin.com/in/cindy-ngo44/" target="blank" class="my-1 gap-2 flex"><Icon icon="linkedin-logo" color="var(--accent-warm)" size="1.5rem" gradient /> cindy-ngo44</a>
							</div>
						</div>
					</div>
				</section>
			</div>
		</div>
	</div>
</BaseLayout>

<style>
	.hero {
		display: flex;
		flex-direction: column;
		align-items: center;
		gap: 2rem;
	}

	.roles {
		display: none;
	}


	.role {
        font-style: italic;
        }

	.hero img {
		aspect-ratio: 4/4;
		object-fit: cover;
		object-position: top;
		border-radius: 1rem;
	}

	@media (min-width: 50em) {
		.hero {
			display: grid;
			grid-template-columns: 6fr 6fr;
			padding-inline: 2.5rem;
			gap: 4rem;
		}

		.roles {
			margin-top: 0.5rem;
			display: flex;
			gap: 0.5rem;
		}

		.hero img {
			aspect-ratio: 4/4;
			border-radius: 1rem;
			object-fit: cover;
		}
	}

	/* ====================================================== */

	.section {
		display: grid;
		margin-bottom: 16px;
		gap: 2rem;
	}

	.with-background {
		position: relative;
	}

	.with-background::before {
		--hero-bg: var(--bg-image-subtle-2);

		content: '';
		position: absolute;
		pointer-events: none;
		left: 50%;
		width: 100vw;
		aspect-ratio: calc(2.25 / var(--bg-scale));
		top: 0;
		transform: translateY(-75%) translateX(-50%);
		background:
			url('/assets/backgrounds/noise.png') top center/220px repeat,
			var(--hero-bg) center center / var(--bg-gradient-size) no-repeat,
			var(--gray-999);
		background-blend-mode: overlay, normal, normal, normal;
		mix-blend-mode: var(--bg-blend-mode);
		z-index: -1;
	}

	.with-background.bg-variant::before {
		--hero-bg: var(--bg-image-subtle-1);
	}

	.section-header {
		justify-self: center;
		text-align: center;
		max-width: 50ch;
		font-size: var(--text-md);
		color: var(--gray-300);
	}

	.section-header h3 {
		font-size: var(--text-2xl);
	}

	.section-title {
		margin-bottom: 24px;
	}

	@media (min-width: 50em) {
		.section {
			grid-template-columns: repeat(4, 1fr);
			grid-template-areas: 'header header header header' 'gallery gallery gallery gallery';
			gap: 5rem;
		}

		.section.with-cta {
			grid-template-areas: 'header header header cta' 'gallery gallery gallery gallery';
		}

		.section-header {
			grid-area: header;
			font-size: var(--text-lg);
		}

		.section-header h3 {
			font-size: var(--text-4xl);
		}

		.with-cta .section-header {
			justify-self: flex-start;
			text-align: left;
		}

		.gallery {
			grid-area: gallery;
		}

		.cta {
			grid-area: cta;
		}
	}

	/* ====================================================== */

	.mention-card {
		display: flex;
		height: 7rem;
		justify-content: center;
		align-items: center;
		text-align: center;
		border: 1px solid var(--gray-800);
		border-radius: 1.5rem;
		color: var(--gray-300);
		background: var(--gradient-subtle);
		box-shadow: var(--shadow-sm);
	}

	@media (min-width: 50em) {
		.mention-card {
			border-radius: 1.5rem;
			height: 9.5rem;
		}
	}
</style>
