---
import { getCollection } from 'astro:content';

import BaseLayout from '../layouts/BaseLayout.astro';

import ContactCTA from '../components/ContactCTA.astro';
import PortfolioPreview from '../components/PortfolioPreview.astro';
import Hero from '../components/Hero.astro';
import Grid from '../components/Grid.astro';

const projects = (await getCollection('playground')).sort(
	(a, b) => b.data.publishDate.valueOf() - a.data.publishDate.valueOf(),
);
---

<BaseLayout
	title="Playground | Cindy Ngo"
	description="Learn about Cindy Ngo's miscellaneous work"
>
	<div class="stack gap-20">
		<main class="wrapper stack gap-8">
			<Hero
				title="Playground"
				tagline="Welcome to my Playground, here you can find minor works (creative and technical) that I created over the years. I have always been a creator so please stay and explore my progress!"
				align="start"
			/>
			<Grid variant="offset">
				{
					projects.map((project) => (
						<li>
							<PortfolioPreview project={project} />
						</li>
					))
				}
			</Grid>
		</main>
		<!-- <ContactCTA /> -->
	</div>
</BaseLayout>
