---
import Icon from './Icon.astro';
---

<section class="box skills">
	<div class="flex gap-8 align-middle justify-center">
		<h2>UI/UX</h2>
		<Icon icon="star-four" color="var(--accent-warm)" size="2.5rem" gradient />
		<h2>Web Design</h2>
		<Icon icon="star-four" color="var(--accent-warm)" size="2.5rem" gradient />
		<h2>Web Development</h2>
		<Icon icon="star-four" color="var(--accent-warm)" size="2.5rem" gradient />
		<h2>Graphics</h2>
	</div>
</section>

<style>
	.box {
		border-top: 5px solid black;
		border-bottom: 5px solid black;
		padding: 1.5rem;
	}

	:global(.theme-dark) .box{
		border-top: 5px solid white;
		border-bottom: 5px solid white;
	}

	.skills {
		display: flex;
		flex-direction: column;
		gap: 3rem;
	}

	.skills h2 {
		font-size: var(--text-3xl);
		font-weight: 300;
	}

	@media (min-width: 50em) {
		.box {
			padding: 2.5rem;
		}
		.skills {
			display: flex;
			flex-direction: column;
			gap: 3rem;
		}

		.skills h2 {
			font-size: var(--text-3xl);
			font-weight: 300;
		}
	}
</style>
